// Custom styles.
//背景图片
body{
    background:url(/xzxaaa/images/mountain-climbing-768814_1920.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}


//透明的
.header-inner{
	opacity: 0.7;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    opacity: 0.85;
}

